html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
   background-color: #ffffff;
}

.logo{
    height: 50px;
}
.lineas{
    display: none;
}
.header{
    background-color: rgb(21, 101, 192);
    
        
}

.navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    
}

.anclas{
    color: rgb(255, 255, 255);
    text-decoration: none;
        
}



.contenedor_principal{
    text-align: center;
    background-color:#ffffff46;
    padding: 20px;
    justify-content: center;
    
   
}

input{
    justify-content: center;
    font-size:x-small;
    text-align: center;
}

.titulo{
    padding: 20px;
}

h1{
    font-size: 2.5em;
    bottom: 0px;
}

label{
    font-family: "Noto Sans", sans-serif;
    font-size: 1em;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 2em;
    row-gap: 2em;
}
/*.contenedor .checkbox ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .checkbox ul li label{
    display: inline-block;
    border: 2px solid #6d94e7c5;
    color: #6d94e7c5;
    border-radius: 20px;
    background-color:#e9f8fc46 ;
    transition: .2s all ease;
    padding: 8px 12px;
}

.contenedor .checkbox ul li label:hover{
    border: 2px solid #6190f3 ;
}



.botones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}*/

button{
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    background-color: hsla(204, 85%, 43%, 0.582);
}


button:hover{
    background-color: hsla(204, 85%, 43%, 0.863);
}
@media screen and (max-width: 1320px) {
    .anclas{
        padding: 0 50px;
    }
}

@media screen and (max-width: 1100px) {
    .anclas{
        padding: 0 30px;
    }
}

@media screen and (max-width: 800px){
    
    body{
        width: 100%;
    }
    .lineas{
        display: block;
        cursor: pointer;
    }
    
    .lineas .linea{
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 6px 0;
    }
    .logo{
        height: 50px;
    }
    .anclas.active{
        height: 400px;
        opacity: 1;
        display:block;
    }
    .anclas{
        height: 400px;
        top: 50px;
        position: absolute;
        background-color: rgb(79, 198, 202);
        width: 100%;
        left: 0;
        right: 0;
        transition: 0.2s;
        list-style: none;
        opacity: 0;
        overflow: hidden;
        display:none;
        transition: 0.5s;
    }
    .anclas a{
        width: fit-content;
        display: block;
        margin: 50px auto 0 auto;
        text-align: center;
        bottom: 10px;
        transition: 0.5s;
        overflow: hidden;
    }
   
    
}

@media screen and (max-width: 400px){
    .input{
        justify-content: center;
        font-size: xx-large;
        
    }

    label{
        font-size: 1.5em;

    }
    .contenido{
        display: flex;
        column-gap: 1em;
        row-gap: 3em;
        flex-direction: column;
        font-size: 1.2em;
    }
    button{
        bottom: 50px;
    }
}
