
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
   background-color: #ffffff;
}

.logo{
    height: 50px;
}
.header{
    background-color: rgb(21, 101, 192);
       
}

.navegacion{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    
}

.anclas{
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.titulo{
  text-align: center;
  padding: 10px;
}

.productos{
    text-align: center;
    display: flex;
    flex-direction: column;
    column-gap: 0em;
    row-gap: 0.4em;
    
}


.moneda{
    background-color: hsl(33, 100%, 88%);
    font-size: 1.5em;
    border-radius: 15px;
    align-items:center;
    height: 150px;
       
}

input{
    font-size:larger;
    align-items: center;
    text-align: center;
    justify-content: center;
}

button{
    
    padding: 10px;
    align-items: center;
}

h1{
    text-align: center;
}
@media screen and (max-width: 1320px) {
    .anclas{
        padding: 0 50px;
    }
}

@media screen and (max-width: 1100px) {
    .anclas{
        padding: 0 30px;
    }
}

@media screen and (max-width: 900px){
    
    body{
        width: 100%;
    }
    .lineas{
        display: block;
        cursor: pointer;
    }
    
    .lineas .linea{
        width: 30px;
        height: 3px;
        background-color: #ffffff;
        margin: 6px 0;
    }
    .logo{
        height: 50px;
    }
    .anclas.active{
        height: 400px;
        opacity: 1;
        display:block;
    }
    .anclas{
        height: 400px;
        top: 50px;
        position: absolute;
        background-color: rgb(79, 198, 202);
        width: 100%;
        left: 0;
        right: 0;
        transition: 0.2s;
        list-style: none;
        opacity: 0;
        overflow: hidden;
        display:none;
        transition: 0.5s;
    }
    .anclas a{
        width: fit-content;
        display: block;
        margin: 50px auto 0 auto;
        text-align: center;
        bottom: 10px;
        transition: 0.5s;
        overflow: hidden;
    }
   
    
}